body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 2em;
    // padding-top: 96px;
    color: $text-color;
}
a{
    color: $text-color;
    text-decoration: underline;
}
a:hover{
    color: $primary;
    text-decoration: none;
}
h1, h2, h3{
    font-weight: 600;
    margin: 15px 0px;
}
h1{
    font-size: 1.8em;
    @media only screen and (min-width: 992px) {
        font-size: 2.5rem;
    }
}
h2{
    font-size: 1.4em;
    @media only screen and (min-width: 992px) {
        font-size: 2rem;
    }
}
h3{
    font-size: 1.2em;
    @media only screen and (min-width: 992px) {
        font-size: 1.75rem;
    }
}
p{
    margin-bottom: 2em;
}
section{
    margin: 0;
    margin-top: 60px;
    &.s-hero-big{
        margin-top: 0;
    }
    &.s-hero{
        margin-top: 0;
    }
}
.s-hero-big,
.s-hero,
.s-cta{
     .container{
        min-height: 100%;
    }
}
.container{
    position: relative;
}
/* Bootstrap hack */
/*
@media (min-width: 1600px){
    .container {
        max-width: 1440px;
    }
}
*/
.wp-block-embed-youtube .wp-block-embed__wrapper iframe,
.wp-block-embed iframe  {
    width: 100% !important;
    height: 600px !important;
}
.wp-block-embed-youtube .overlay,
.wp-block-embed .overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .play-button {
        text-shadow: 1px 2px 10px rgba(0,0,0,0.45);
        font-size: 48px; /* Adjust size as needed */
        color: #fff; /* Adjust color as needed */
        cursor: pointer;
        left: 50%;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
        @include transition();
    }
    /* Ensure that hover & focus states do not apply once overlay is not visible */
    .overlay:empty:hover .play-button,
    .overlay:empty:focus-within .play-button {
        transform: scale(1.2);
        color: #fff; /* Ensure color remains consistent */
        cursor: default;
    }
}
.wp-block-embed-youtube,
.wp-block-embed {
    position: relative !important;
}