.btn{
    @include transition();
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    box-shadow: 1px 3px 5px $black-25;
    transform: scale(1);
    text-decoration: none;
    i{
        @include transition();
        margin-left: 10px;
    }
    &:hover{
        i{
            margin-left: 20px;
        }
    }
    &.btn-primary{
        background-color: $primary;
        color: $white;
        &:hover{
            background-color: $white;
            color: $primary;
            transform: scale(.95);
        }
    }
    &.btn-secondary{
        background-color: $secondary;
        color: $white;
        &:hover{
            background-color: $white;
            color: $secondary;
            transform: scale(.95);
        }
    }
}
/* contactform */
.wpforms-submit{
    &.btn{
        @include transition();
        border: none !important;
        border-radius: 15px !important;
        padding: 15px 30px !important;
        box-shadow: 1px 3px 5px $black-25 !important;
        transform: scale(1) !important;
        text-decoration: none !important;
    }
    &.btn-primary{
        background-color: $primary !important;
        color: $white !important;
        &:hover{
            background-color: $white !important;
            color: $primary !important;
            transform: scale(.95) !important;
        }
    }
    &.btn-secondary{
        background-color: $secondary !important;
        color: $white !important;
        &:hover{
            background-color: $white !important;
            color: $secondary !important;
            transform: scale(.95) !important;
        }
    }
}
button.navbar-toggler:focus {
  outline: none !important;
}
