// colors

$primary: #e0262d;
$secondary: #1e2127;
$white: #ffffff;
$white-75: rgba(255,255,255,0.75);
$white-50: rgba(255,255,255,0.50);
$white-25: rgba(255,255,255,0.25);
$black: #000000;
$black-75: rgba(0,0,0,0.75);
$black-50: rgba(0,0,0,0.5);
$black-25: rgba(0,0,0,0.25);
$black-10: rgba(0,0,0,0.10);

$light-gray: #f5f5f5;

$text-color: #333;


// transform
@mixin transition($element: all, $time: 200ms, $type: linear) {
    -moz-transition:    $element $time $type;
    -o-transition:      $element $time $type;
    -webkit-transition: $element $time $type;
    transition:         $element $time $type;
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin grayscale($value) {
    -webkit-filter: #{"grayscale(#{$value})"};
    -moz-filter: #{"grayscale(#{$value})"};
    filter:#{"grayscale(#{$value})"};
}
