footer{
    margin: 60px 0;
    text-align: center;
    @media only screen and (min-width: 992px) {
        text-align: left;
    }
    .col-12{
        margin-bottom: 30px;
    }
    a{
        color: $text-color;
    }
    h4{
        font-size: 1.2em;
        border-bottom: 1px solid $black-10;
        padding-bottom :15px;
        margin-bottom: 15px;
    }
    span{
        display: block;
        &.socials{
            i{
                margin-right: 10px;
                font-size: 2em;
            }
        }
        i{
            margin-right: 10px;
        }
    }
    .nav-footer{
        .menu{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
            }
        }
    }
    .dappr{
        margin-top: 15px;
        padding-top: 15px;
        text-align: center;
        border-top: 1px solid $black-10;
        img{
            width: 150px;
        }
    }
}
