::placeholder{
    color: $primary !important;
}
.gform_wrapper {
    padding: 35px;
    color: $primary;
    overflow: hidden;
    .gfield {
        position: relative;
    }
    .gfield_label {
        position: absolute !important;
        left: 15px !important;
        top: 15px !important;
        transform-origin: left top;
        transition: top .5s cubic-bezier(.65,.05,.36,1),transform .5s cubic-bezier(.65,.05,.36,1);
        // Style for the label when the input is focused
        &.focused {
            top: 5px !important;
            left: 10px !important;
            transform: scale(.55) !important;
        }
        .gfield_required {
            color: $primary !important;
        }
    }
    .gfield--type-fileupload {
        .gfield_label {
            position: relative !important;
            left: auto !important;
            top: auto !important;
            transform-origin: 0 !important;
            transform: 0 !important;
        }
    }
    .gform_button.button {
        border-radius: 0px !important;
        font-size: 18px !important;
        float: right;
        margin-right: 15px;
    }
    .ginput_container_email input,
    .ginput_container_textarea textarea,
    .ginput_container_phone input,
    .ginput_container_text input,
    .name_first input,
    .name_last input,
    .ginput_container_select select {
        width: 100%;
        line-height: 48px;
        color: $primary;
        height: 64px;
    }
    .custom-file-upload {
        background-color: #c3dff7;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        text-align: center;
        position: relative;
        @include transition();
        &:after {
            position: absolute;
            font-family: 'Font Awesome 6 Pro';
            content: '\f0ee';
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 60px;
            color: rgba(0,0,0,.2);
        }
        &:hover{
            background-color: $primary !important;
            color: $secondary !important;
            @include transition();
        }
    }
    .gform_button {
        @include transition();
        border: none;
        padding: 15px 30px;
        border-radius: 0px;
        box-shadow: 1px 3px 5px $black-25;
        transform: scale(1);
        text-decoration: none;
        cursor: pointer;
        i{
            @include transition();
            margin-left: 10px;
        }
        &:after{
            font-family: 'Font Awesome 6 Pro';
            font-weight: 300;
            content: '\f061';
            margin-left :15px;
        }
        &:hover{
            i{
                margin-left: 20px;
            }
        }
        &.button{
            background-color: $primary !important;
            color: $white !important;
            border-radius: 0px !important;
            &:hover{
                background-color: $secondary !important;
                color: $white !important;
                transform: scale(.95);
            }
        }
    }
}