header.menu {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 75px;

    a {
        text-decoration: none;
    }
    .logo {
        a {
            position: relative;
            z-index: 101;
        }
    }
    .menu-inner {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 101;
        width: 100%;
        background-color: $white;
        margin-top: 0;
        height: 60px;
        a {
            color: $black;
            &:hover {
                color: $primary;
                text-decoration: none;
            }
        }
    }
}
/* Mobile menu */
@media only screen and (max-width: 992px) {
    .mobile-logo {
        position: absolute;
        width: 100px;
        left: 15px;
        top: 5px;
        z-index: 101;
        img {
            width: 130px;
        }
    }
    /* Hamburger button */
    .hamburger {
        position: fixed;
        width: 28px;
        height: 21px;
        right: 15px;
        top: 15px;
        z-index: 101;

        span {
            display: block;
            position: relative;
            background-color: $black;
            height: 4px;
            width: 28px;
            border-radius: 2px;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;

            &:first-of-type {
                top: 0;
            }
            &:nth-of-type(2) {
                top: 4px;
            }
            &:nth-of-type(3) {
                top: 8px;
            }
        }
        &:hover {
            cursor: pointer;
        }
        &.cross {
            span {
                background-color: $primary;
                -webkit-transition: all .25s ease-in-out;
                -moz-transition: all .25s ease-in-out;
                -o-transition: all .25s ease-in-out;
                transition: all .25s ease-in-out;

                &:first-of-type {
                    top: 3px;
                    transform: rotate(35deg);
                    left: 10px;
                    width: 18px;
                }
                &:nth-of-type(3) {
                    top: 5px;
                    transform: rotate(-35deg);
                    left: 10px;
                    width: 18px;
                }
            }
        }
    }
    .main-navigation {
        position: fixed;
        top: 0;
        left: 100%;
        right: 0;
        width: 100%;
        z-index: 100;
        background-color: $white;
        min-height: 100vh;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;

        &.open {
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
            left: 0;
            right: 0;
        }
        .logo {
            display: none;
        }
        .navigation {
            width: 100%;
            height: calc(100vh - 40px);
            margin-top: 80px;
            overflow: scroll;

            /* Navigation */
            ul.nav-ul {
                margin: 0;
                padding: 0;
                li {
                    position: relative;
                    list-style: none;
                    display: block;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    line-height: 60px;
                    text-align: center;
                    border-bottom: 1px solid rgba(0,0,0,0.1);
                    -webkit-transition: all .25s ease-in-out;
                    -moz-transition: all .25s ease-in-out;
                    -o-transition: all .25s ease-in-out;
                    transition: all .25s ease-in-out;

                    &:last-of-type {
                        border: none;
                    }
                    .arrow {
                        position: absolute;
                        right: 0;
                        height: 60px;
                        width: 60px;
                        border: 1px solid $light-gray;
                        -webkit-transition: all .25s ease-in-out;
                        -moz-transition: all .25s ease-in-out;
                        -o-transition: all .25s ease-in-out;
                        transition: all .25s ease-in-out;
                        &.active {
                            background-color: rgba(0,0,0,0.1);
                        }
                        i {
                            width: 14px;
                            -webkit-transition: all .25s ease-in-out;
                            -moz-transition: all .25s ease-in-out;
                            -o-transition: all .25s ease-in-out;
                            transition: all .25s ease-in-out;
                            line-height: 60px;
                            &.down {
                                -webkit-transition: all .25s ease-in-out;
                                -moz-transition: all .25s ease-in-out;
                                -o-transition: all .25s ease-in-out;
                                transition: all .25s ease-in-out;
                                transform: rotate(90deg);
                            }
                        }
                    }
                    &.active {
                        a {
                            color: $primary;
                        }
                        .arrow {

                            i {
                                color: $primary;
                            }
                            &.active {
                                border-bottom: 1px solid transparent;
                            }

                        }
                        ul.submenu {
                            li {

                                background-color: rgba(0,0,0,0.1);
                                border-bottom: 1px solid rgba(0,0,0,0.1);
                                a {
                                    color: $black;
                                }
                                &.active {
                                    a {
                                        color: $primary;
                                    }
                                }
                            }
                        }
                    }
                    ul.submenu {
                        padding: 0;
                        margin: 0;
                        height: 0;
                        overflow: hidden;
                        -webkit-transition: all .25s ease-in-out;
                        -moz-transition: all .25s ease-in-out;
                        -o-transition: all .25s ease-in-out;
                        transition: all .25s ease-in-out;

                        &.open {
                            height: auto;
                            -webkit-transition: all .25s ease-in-out;
                            -moz-transition: all .25s ease-in-out;
                            -o-transition: all .25s ease-in-out;
                            transition: all .25s ease-in-out;

                            li {
                                background-color: rgba(0,0,0,0.1);
                            }
                        }
                    }
                    ul.sub-submenu {
                        padding: 0;
                        margin: 0;
                        height: 0;
                        overflow: hidden;
                        -webkit-transition: all .25s ease-in-out;
                        -moz-transition: all .25s ease-in-out;
                        -o-transition: all .25s ease-in-out;
                        transition: all .25s ease-in-out;

                        &.open {
                            height: auto;
                            -webkit-transition: all .25s ease-in-out;
                            -moz-transition: all .25s ease-in-out;
                            -o-transition: all .25s ease-in-out;
                            transition: all .25s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}
