/* Desktop menu */
@media only screen and (min-width: 992px) {
    .mobile-logo {
        display: none;
    }
    .logo {
        position: absolute;
        left: 30px;

        img {
            width: 200px;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
        }
        &.fixed {
            img {
                width: 60px;
                -webkit-transition: all 0.25s ease-in-out;
                -moz-transition: all 0.25s ease-in-out;
                -o-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
            }
        }
    }
    .main-navigation {
        background-color: $white;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 120px;
        min-height: auto;
        margin-right: auto;
        padding-right: 15px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;

        &.fixed {
            height: 60px;
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            z-index: 101;
            background-color: $black;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            .logo {
                &.normal {
                    opacity: 0;
                    -webkit-transition: all 0.25s ease-in-out;
                    -moz-transition: all 0.25s ease-in-out;
                    -o-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;
                }
                &.fixed {
                    opacity: 1;
                    -webkit-transition: all 0.25s ease-in-out;
                    -moz-transition: all 0.25s ease-in-out;
                    -o-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;
                }
            }
            li {
                a {
                    color: $white;
                }
                i {
                    color: $white;
                }
                li {
                    a {
                        color: $black;
                    }
                }
            }
        }
        &.normal {
            .logo {
                &.normal {
                    opacity: 1;
                    -webkit-transition: all 0.25s ease-in-out;
                    -moz-transition: all 0.25s ease-in-out;
                    -o-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;
                }
                &.fixed {
                    opacity: 0;
                    -webkit-transition: all 0.25s ease-in-out;
                    -moz-transition: all 0.25s ease-in-out;
                    -o-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;
                }
            }
            li {
                a {
                    color: $black;
                }
            }
        }
        .navigation {
            flex-grow: 1;
            height: 60px;
            overflow: visible;
            margin-top: 0;

            /* Navigation */
            ul.nav-ul {
                position: relative;
                text-align: right;
                top: 0;
                line-height: 60px;
                margin: 0;
                padding: 0;

                li {
                    position: relative;
                    list-style: none;
                    display: inline-block;
                    padding: 0 20px;
                    -webkit-transition: all .25s ease-in-out;
                    -moz-transition: all .25s ease-in-out;
                    -o-transition: all .25s ease-in-out;
                    transition: all .25s ease-in-out;

                    i {
                        margin-left: 10px;
                        font-size: 14px;
                        -webkit-transition: all .25s ease-in-out;
                        -moz-transition: all .25s ease-in-out;
                        -o-transition: all .25s ease-in-out;
                        transition: all .25s ease-in-out;
                    }
                    &:after{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: auto;
                        content: '';
                        height: 3px;
                        width :0%;
                        background-color: $primary;
                        -webkit-transition: all .25s ease-in-out;
                        -moz-transition: all .25s ease-in-out;
                        -o-transition: all .25s ease-in-out;
                        transition: all .25s ease-in-out;
                    }
                    &:hover {
                        ul.submenu {
                            display: block;
                        }
                        .arrow {
                            i {
                                -webkit-transition: all .25s ease-in-out;
                                -moz-transition: all .25s ease-in-out;
                                -o-transition: all .25s ease-in-out;
                                transition: all .25s ease-in-out;
                                transform: rotate(90deg);
                                color: $primary;
                            }
                        }

                        &:after {
                            width :100%;
                        }
                    }
                    &.active {
                        a {
                            color: $primary;                            
                        }
                        .submenu li{
                            a{
                                color: $black;
                            }
                        }
                        i {
                            color: $primary;
                        }
                        &:after {
                            width:100%;
                        }
                    }
                }
                ul.submenu {
                    display: none;
                    position: absolute;
                    background-color: $white;
                    left: 0;
                    margin: 0;
                    padding: 0;
                    width: 240px;

                    li {
                        text-align: left;
                        display: block;
                        border-bottom: 1px solid $light-gray;
                        &:after {
                            background-color: $primary;
                            color: $white;
                        }
                        i {
                            position: absolute;
                            right: 0;
                            width: 30px;
                            height: 60px;
                            text-align: center;
                        }
                        &:hover {
                            background-color: $primary;
                            li {
                                a {
                                    color: $black;
                                }
                                &:hover {
                                    a {
                                        color: $white;
                                    }
                                }
                            }
                            a {
                                color: $white;
                            }
                            .arrow {
                                background-color: transparent;
                                i {
                                    color: $white;
                                    -webkit-transition: all .25s ease-in-out;
                                    -moz-transition: all .25s ease-in-out;
                                    -o-transition: all .25s ease-in-out;
                                    transition: all .25s ease-in-out;
                                    transform: rotate(0deg);
                                }
                            }
                            ul {
                                text-align: left;
                                display: block;
                                border-bottom: 1px solid $light-gray;
                            }
                            ul.sub-submenu {
                                display: block;
                            }
                        }
                        &.active {
                            background-color: $primary;
                            a {
                                color: $white;
                            }
                        }
                    }
                }
                ul.sub-submenu {
                    display: none;
                    position: absolute;
                    background-color: $white;
                    top: 0;
                    left: 240px;
                    margin: 0;
                    padding: 0;
                    width: 240px;
                }
            }
        }
    }
    hr {
        display: block;
    }
}
