.s-hero{
    background-size: cover;
    background-position: center;
}
.page-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    span {
        color: $white;
        text-shadow: 1px 1px 2px $black;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 1.2;
        margin: 15px 16px;
        @media (min-width: 768px) {
            font-size: 3rem;
        }
    }
}
.s-content{
    /* tekst */
    ol, ul, dl{
        margin: 0;
        margin-bottom: 2em;
        padding-left: 20px;
    }
    .wp-block-image img{
        height: auto;
    }
    .wp-block-quote{
        background-color: $light-gray;
        padding: 30px;
        border-left: 5px solid $primary;
        margin-bottom: 2em;
    }
    .wp-block-pullquote {
        background-color: $light-gray !important;
        padding: 30px;
        border-left: 5px solid $primary;
        margin-bottom: 2em;
    }
    .wp-block-table{
        table{
            border: 1px solid $black-10 !important;
            tr{
                line-height: 60px;
                td:first-of-type{
                    padding-left: 15px;
                }
            }
        }
        &.is-style-stripes tbody tr:nth-child(odd){
            background-color: $light-gray !important;
        }
        figcaption{
            text-align: right;
            padding-right: 30px;
            font-size: 12px;
            font-style: italic;
        }
    }
    .wp-block-media-text__media img, .wp-block-media-text__media video{
        height: auto;
    }
    .wp-block-media-text__content{
        padding-top: 30px !important;
    }
    .blocks-gallery-grid{
        padding: 0;
    }
}
