.s-cta{
    position: relative;
    .background{
        height: 40vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @media (min-width: 992px) {
            height: 40vh;
        }
    }
    .cta-overlay{
        position: absolute;
        background-color: $primary;
        mix-blend-mode: multiply;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .cta-content{        
         position: absolute;
        top: 50%;
        transform: translate(0%, -50%);    
        color: $white;
        @media only screen and (min-width: 768px) {
            left: 50%;
            transform: translate(-50%, -50%);    
        }
        @media (min-width: 992px) {
            padding: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
