section.s-hero-big {
    height: 60vh;
    width: 100%;
    .hero-fallback{
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    .inner {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            background-color: $black-50;
            padding: 15px;
            width: calc(100% - 30px);
            @media only screen and (min-width: 768px) {
                width: 50%;
            }
            .hero-fallback_title{
                font-size: 48px;
                line-height: 1em;
                text-shadow: 1px 2px 2px $black-50;
            }
            .hero-fallback_content{
                display: block;
                margin: 15px 0;
                text-shadow: 1px 2px 2px $black-50;
            }
            .hero-fallback_button{

            }
            .slider-title{
                font-size: 24px;
                line-height: 1em;
                text-shadow: 1px 2px 2px $black-50;
                @media only screen and (min-width: 992px) {
                    font-size: 32px;
                }
                @media only screen and (min-width: 1200px) {
                    font-size: 48px;
                }
            }
            .slider-content{
                display: block;
                margin: 15px 0;
                text-shadow: 1px 2px 2px $black-50;
            }
        }
    }
    .swiper-container {
        height: 60vh;
        @media only screen and (min-width: 992px) {
            height: 60vh;
        }
        @media only screen and (min-width: 1200px) {
            height: 60vh;
        }
        &.multiple{
            .swiper-slide{
                .inner{
                    width: 100%;
                    padding: 15px;
                    }
                }
            }
        .swiper-slide {
            .swiper-overlay{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0,0,0,0.35);
            }
            background-size: cover;
			background-position: center center;

            .inner {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: #fff;
                width: 100%;
                .slider-title{
                    font-size: 24px;
                    line-height: 1em;
                    text-shadow: 1px 2px 2px $black-50;
                    @media only screen and (min-width: 992px) {
                        font-size: 32px;
                    }
                    @media only screen and (min-width: 1200px) {
                        font-size: 48px;
                    }
                }
                .slider-content{
                    display: block;
                    margin: 15px 0;
                    text-shadow: 1px 2px 2px $black-50;
                }
            }
        }
    }
}
