.s-news{
    .col-12{
        margin-bottom: 30px;
    }
    .row {
        div {
            margin-bottom: 30px;
        }
    }
    .card{
        margin-bottom: 15px;
        min-height: 100%;
        margin-bottom: 30px;

        .card-img-top{
            display: block;
            background-size: 100%;
            background-position: center;
            height: 200px;
            @include transition();
            &:hover{
                background-size: 110%;
            }
        }
        .card-body{
            position: relative;
            padding-bottom: 60px;
            .card-title{
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1.2;
            }
            a{
                position: absolute;
                top: auto;
                left: 15px;
                right: 15px;
                bottom: 15px;
            }
        }
    }
}
